<h1>Log In</h1>

<%=render(partial: "application/errors", locals: {errors: @errors})%>

<%= form_tag login_path do |f| %>
    <%=label_tag "Username"%>
    <%=text_field_tag :username%>
    <br>
    <%=label_tag "Password"%>
    <%=password_field_tag :password %>
    <br>
    <%=submit_tag "Log In"%>
  <%end%>