<h1> Keep track of materials for a diy </h1>

<%= form_with model: @material do |f| %>
    <%=f.label "Material Name"%>
    <%=f.text_field(:name)%>
    <%=f.label "Number Needed" %>
    <%=f.text_field(:count)%>
    <%=f.label "diy"%>
    <%=f.collection_select(:diy_id, Diy.all, :id, :name) %>
    <%=f.submit("Save")%>
    <% end %>