<h1> <%= @diy.name %> </h1>
<br>
<img src="<%= @diy.image_url %>">
<br>
<h2> number of recipes needed to unlock: <%= @diy.recipes_to_unlock %> </h2>
<h2> materials needed: </h2>
<% @diy.materials.each do |mat| %>
    <li> name: <%= mat.name %> | count: <%= mat.count %> </li>
    <% end %>
    <br><br>
